/* styles.css */
:root {
    --main-bg-color: #333;
    --main-ct-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

header {
    background-color: var(--main-bg-color);
    color: var(--main-ct-color);
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: var(--main-ct-color);
}

section {
    padding: 20px;
    margin: 20px;
    background-color: var(--main-ct-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: var(--main-bg-color);
    color: var(--main-ct-color);
}

address a {
    color: var(--main-bg-color);
}
