---
import siteConfig from '../../data/site-config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Register from '../../components/Register.astro';
---

<BaseLayout title="Academic Coaching">
    <div class="max-w-md mx-auto">
        <p class="text-center mb-4">Academic tutoring is for students struggling with just the material in a class.</p>
        <p class="text-center mb-8">
            If your student is doing well in most classes, isn’t forgetting to turn in or submit assignments, and is just struggling with the curriculum,
            Academic Tutoring will focus on honing their understanding of a particular subject.
        </p>
        <Register />
    </div>
</BaseLayout>
