---
import siteConfig from '../../data/site-config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Register from '../../components/Register.astro';
---

<BaseLayout title="Academic Coaching">
    <div class="max-w-md mx-auto">
        <p class="text-center mb-4">Academic Coaching is for students who need extra help with organization and building executive functioning skills!</p>
        <p class="text-center mb-8">Executive functioning consists of: Attention, Planning, Organization, Self-Control, Time-Management, and Working Memory.</p>
        <Register />
    </div>
</BaseLayout>
