---
import BaseLayout from '../layouts/BaseLayout.astro';
import siteConfig from '../data/site-config';
import { HiAcademicCap, HiCalculator, HiChartPie, HiColorSwatch } from 'react-icons/hi';
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <div style={{ display: 'flex', overflow: 'hidden' }}>
        <img
            src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630"
            style={{ objectFit: 'cover' }}
        />
        <ul
            style={{
                listStyle: 'none',
                padding: '0',
                textAlign: 'center',
                flex: '1',
                display: 'flex',
                flexDirection: 'column',
                justifyContent: 'space-around',
                alignItems: 'center'
            }}
        >
            <div style={{ display: 'flex', alignItems: 'center' }}>
                <HiChartPie style={{ fontSize: '2.5em', marginRight: '0.5em' }} />
                <li style={{ fontSize: '2.5em', fontWeight: 'bold' }}>Item 1</li>
            </div>
            <div style={{ display: 'flex', alignItems: 'center' }}>
                <HiCalculator style={{ fontSize: '2.5em', marginRight: '0.5em' }} />
                <li style={{ fontSize: '2.5em', fontWeight: 'bold' }}>Item 2</li>
            </div>
            <div style={{ display: 'flex', alignItems: 'center' }}>
                <HiAcademicCap style={{ fontSize: '2.5em', marginRight: '0.5em' }} />
                <li style={{ fontSize: '2.5em', fontWeight: 'bold' }}>Item 3</li>
            </div>
            <div style={{ display: 'flex', alignItems: 'center' }}>
                <HiColorSwatch style={{ fontSize: '2.5em', marginRight: '0.5em' }} />
                <li style={{ fontSize: '2.5em', fontWeight: 'bold' }}>Item 4</li>
            </div>
        </ul>
    </div>

    <style>
        @media (max-width: 800px) {
            div {
                flex-direction: column;
            }

            img {
                width: 100vw;
                margin-bottom: 2em;
            }
        }
    </style>

    &nbsp;

    <div>
        Hello, I'm Avery Davis, an academic tutor and coach based in Dallas, TX, with two years of experience dedicated to helping students boost their
        confidence and improve their academic abilities.

        <br />
        <br />

        I approach my clients with a positive, kind, and patient attitude, and I prioritize research-based learning. Additionally, my relative youth and recent
        involvement in the collegiate and high school educational systems bring an extra advantage to my students! My clientele encompasses a diverse range of
        ages, from 2nd graders to college students. I recognize that learning is a unique journey for each individual, and I tailor each session to meet my
        students' specific needs, accommodating their personal learning styles.

        <br />
        <br />

        I conduct virtual sessions via Zoom, schedule your first session with me today! Why me? I graduated from the Liberal Arts and Science Academy, a
        prestigious high school ranked 32nd best in the United States. During my time there, I not only tackled rigorous courses but managed to maintain a
        strong GPA. This achievement earned me a full-ride scholarship along with a semesterly stipend courtesy of the University of Texas at Dallas through
        their Academic Excellence Scholarship. I graduated with a B.S. in Psychology with honors, and I'm currently continuing my own education, pursuing an
        M.S. in Applied Cognition and Neuroscience. My passion for psychology runs deep, and I believe my background in this field truly sets me apart. It
        equips me with insights into memory, personality, and communication that I can't wait to share with my students.

        <br />
        <br />

        My Subjects: Math and ELA K-12 AP World History AP World Geography AP Us History Geometry Algebra I Algebra II AP Psychology SAT/PSAT Prep College
        Admissions College Essays

        <br />
        <br />

        Academic Tutoring vs Academic Coaching: Academic tutoring is for students struggling with just the material in a class. If your student is doing well in
        most classes, isn’t forgetting to turn in or submit assignments, and is just struggling with the curriculum, Academic Tutoring will focus on honing
        their understanding of a particular subject. Academic Coaching is for students who need extra help with organization and building executive functioning
        skills! Executive functioning consists of: Attention, Planning, Organization, Self-Control, Time-Management, and Working Memory. If your student needs
        more help in these domains, Academic Coaching may be a better fit. In both Academic Coaching and Tutoring, I will send an email to the parent/guardian
        discussing the students progress, grades, future assignments, and what we did during our session.
    </div>
</BaseLayout>
