---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <h1 class="text-center text-xl">Email failed to sent. Please feel free to email me directly: averydavistutor@gmail.com</h1>
</BaseLayout>
