---
import NoHeaderLayout from '../layouts/NoHeaderLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import siteConfig from '../data/site-config';
---

<NoHeaderLayout description={siteConfig.description} image={siteConfig.image}>
    <div class="relative bg-slate-50 border-b border-slate-100">
        <Header class="relative" />
        <Hero />
    </div>
    <main class="grow py-12 sm:py-16">
    </main>
</NoHeaderLayout>
