---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import siteConfig from '../data/site-config';
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <div class="relative bg-slate-50 border-b border-slate-100">
        <Hero />
    </div>
    <main class="grow py-12 sm:py-16">
    </main>
</BaseLayout>
