---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>

    <div class="flex items-center justify-center flex-col p-4 max-w-6xl mx-auto">
        <p>
            I charge $37/hr for Academic Tutoring, and $45/hr for Academic Coaching. I offer tutoring once or more a week, depending on the student's needs! I accept payment via Venmo or Zelle.

            (link/QR code)
        </p>
    </div>
</BaseLayout>
