---
import BaseLayout from '../layouts/BaseLayout.astro';
import Service_List from '../components/Services.astro';
import Schedule_Button from '../components/Schedule_Button.astro';
---

<BaseLayout>
    <Service_List />
    <div class="text-center flex items-center justify-center flex-col text-slate-200 text-2xl p-4 max-w-6xl mx-auto">
        <!--<p> 
            For both academic tutoring and coaching, you will receive an email on your child’s progress including grades, areas of concern, and things to celebrate!
        </p>-->
        <p>
            In both Academic Coaching and Academic Tutoring, I will send an email to the parent/guardian discussing the students progress, grades, future
            assignments, and what we did during our session. I offer recurring weekly sessions, as well as one-off sessions to help a student with a particular
            assignment. My Subjects: (Possibly animation here?) Math and ELA K-12 AP World History AP World Geography AP Us History Geometry Algebra I Algebra
            II AP Psychology SAT/PSAT Prep College Admissions College Essays
        </p>
    </div>
    <div
        class="flex items-center justify-center flex-col p-4 text-center text-2xl max-w-screen-lg mx-auto text-slate-200"
        style="max-width: calc(100vw - 3rem);"
    >
        <h1>Progress focused Tutoring:</h1>
        <div class="border-2 border-black">
            <p>
                In all of my tutoring services, I follow progress based tutoring. Each session, I’ll review with my students how they feel they are doing in
                their subject, if their grade is improving, and our strategy for the class going forward. This is important because some students may struggle
                with timeliness on assignments or focus, while others may struggle with curriculum. Speaking with the student and oftentimes the parents gives
                me insight on how to best tailor my services to your student.
            </p>
            <br />
            <p>
                With my Academic Coaching students, their grades will be more of a focus, with my detailed report of our session including missing work, low
                test scores/missing work, and what we will do to remedy them.
            </p>
        </div>
    </div>
    <Schedule_Button />
</BaseLayout>
