---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="flex items-center justify-center flex-col p-4 max-w-6xl mx-auto">
        <p>
            I graduated from the Liberal Arts and Science Academy, a prestigious high school ranked 32nd best in the United States. During my time there, I not only tackled rigorous courses but managed to maintain a strong GPA. This achievement earned me a full-ride scholarship along with a semesterly stipend courtesy of the University of Texas at Dallas through their Academic Excellence Scholarship.
        </p>
        <br>
        <p>
            My passion for learning, teaching, and mentorship runs deep, and I believe my background in this field truly sets me apart. I graduated with a B.S. in Psychology with honors, and I'm currently continuing my own education, pursuing an M.S. in Applied Cognition and Neuroscience, with goals to continue my passion for helping students as a Professor. My background in psychology equips me with insights into memory, personality, and communication that I can't wait to share with my students. 
        </p>
    </div>
</BaseLayout>
