---
import siteConfig from '../data/site-config';
---

<footer class="px-4 py-8 sm:px-8 sm:py-12">
    <p class="text-center text-slate-200 text-sm uppercase tracking-wider">
        Contact: <br />
        <b> averydavistutor@gmail.com <br /> </b>Or text me at:
        <b>512.568.5151 </b>
        <br />
        <br />
        <p class="text-center text-xs uppercase tracking-wider text-slate-200">
            &copy; {new Date().getFullYear()}&nbsp;<a class="text-primary underline hover:no-underline" href="/">{siteConfig.title}</a>. All rights reserved.
        </p>
    </p>
</footer>
