---
import HeaderNavLink from './HeaderNavLink.astro';
import siteConfig from '../data/site-config.ts';

const primaryNavLinks = siteConfig.primaryNavLinks || [];
const {class: className} = Astro.props;
const { pathname } = Astro.url;
---

<header class:list={['px-4 py-4 flex gap-6 items-center justify-between sm:px-8 sm:py-6', className]}>
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img class="max-h-12" src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} />
            </a>
        ) : (
            <a class="text-xl font-bold sm:text-2xl" href="/">
                {siteConfig.title}
            </a>
        )
    }
    {
        primaryNavLinks.length > 0 && (
        <nav class="flex items-center space-x-6">
            {primaryNavLinks.map((link) => (
            <HeaderNavLink
                class:list={[
                'pr-6 py-1 text-lg font-bold sm:text-xl relative transition duration-300 hover:text-slate-500',
                {
                    'after:content-[""] after:w-3.5 after:h-1 after:absolute after:left-0 after:bottom-0 after:bg-primary':
                    link.href === pathname || link.href === pathname.replace(/\/$/, ''),
                },
                ]}
                href={link.href}
            >
                {link.text}
            </HeaderNavLink>
            ))}
        </nav>
        )
    }
</header>

<script>
    function menuToggle() {
        const menu = document.querySelector('.menu');
        const menuToggleBtn = document.querySelector('.menu-toggle');
        const menuToggleIcon = document.querySelector('.menu-toggle-icon');
        menuToggleBtn?.addEventListener('click', () => {
            const isMenuExpanded = menuToggleBtn.getAttribute('aria-expanded') === 'true';
            menuToggleBtn.setAttribute('aria-expanded', isMenuExpanded ? 'false' : 'true');
            menuToggleBtn.setAttribute('aria-label', isMenuExpanded ? 'Open Menu' : 'Close Menu');
            menuToggleIcon?.classList.toggle('is-active');
            menu?.classList.toggle('is-visible');
        });
    }
    menuToggle();
    document.addEventListener('astro:after-swap', menuToggle);
</script>
