---
import siteConfig from '../data/site-config.ts';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.text || hero?.avatar?.src) && (
        <>
            {hero?.backgroundImage?.src && (
                <div class="absolute inset-0 bg-cover bg-center" style={{ backgroundImage: `url(${hero?.backgroundImage?.src})` }} />
            )}
            <section class="px-4 py-12 relative sm:px-8 sm:py-16">
                <div class="w-full max-w-3xl mx-auto flex flex-col items-center text-center">
                    {hero?.avatar?.src && (
                        <div class="p-6">
                            <img
                                src={hero?.avatar?.src}
                                alt={hero?.avatar?.alt || ''}
                                class="w-32 aspect-square object-cover rounded-full border-2 border-primary shadow-avatar"
                            />
                        </div>
                    )}
                    {hero?.title && <h1 class:list={['text-4xl font-bold text-slate-200 sm:text-4xl ', { 'mt-6': hero?.avatar?.src }]}>{hero?.title}</h1>}
                    {hero?.text && (
                        <p class:list={['text-slate-200 font-bold text-2xl ', { 'mt-4': hero?.title, 'mt-6': hero?.avatar?.src && !hero?.title }]}>{hero?.text}</p>
                    )}
                </div>
            </section>
        </>
    )
}
